.welcome-career {
  background: linear-gradient(to bottom, rgba(#111, 0.6)),
    url(../img/career-bg.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.section-job {
  padding: 10rem 0;
}

.job {
  text-align: center;
  margin: 0 auto;
  &__heading-main {
    font-size: 4rem;
  }
  &__heading-sub {
    color: $color-grey-dark-2;
    font-size: 2rem;

    span:nth-child(1) {
      color: $color-orange-light;
    }

    span:nth-child(2) {
      color: $color-black-dark;
      text-decoration: underline;
    }
  }
  &__para {
    font-size: 1.4rem;
    line-height: 1.71;
  }
}

.section-career {
  padding-bottom  : 10rem;
}
.career {
  &__pt,
  &__ft {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  &__header {
    background-color: $color-blue;
    padding: 1.5rem 3rem;
  }

  &__heading {
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 4rem;
  }

  &__box {
    padding: 5rem 7rem 5rem 3.5rem;
    background-color: $color-blue-light-2;
    margin-bottom: 5px;
  }

  &__group {
    margin-bottom: 4rem;
    &:nth-last-child(2) {
      margin-bottom: 5rem;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 2rem;
  }

  &__label {
    font-family: "Open sans";
    display: block;
    color: $color-orange-light;
    font-size: 1.4rem;
    text-decoration: underline;
  }

  &__description {
    margin: 0;
    font-family: "Open sans";
  }

  &__request {
    list-style-type: "-";
    padding: 0;
    padding-left: 0.8rem;
    margin: 0;
    font-size: 1.4rem;
    font-family: "Open sans";
  }

  &__location {
    margin: 0;
    font-family: "Open sans";
  }
}
