.welcome-claims {
  background: linear-gradient(to bottom, rgba(#111, 0.6)),
    url(../img/claims.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.section-claim-overview {
  padding: 10rem 0;
}

.claim-overview {
  text-align: center;
  margin: 0 auto;

  &__heading {
    font-size: 2rem;
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__drop-down {
    box-sizing: border-box;
    height: 5em;
    width: 20em;
    font-size: 1.4rem;
    padding-left: 1.5em;
    border: 1px solid #ccc;
    border-right: none;
    transform: translateX(20px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/darr.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
}

.section-process {
  padding-bottom: 10rem;
}

.process {
  &__box {
    padding: 3rem;
    margin-bottom: 24px;

    &--1 {
      background-color: $color-blue-light-2;
    }

    &--2 {
      padding-top: 5rem;
      flex: 0 0 50%;
      text-align: center;
    }
  }
  &__bot {
    background-color: $color-yellow;

    display: flex;
    justify-content: center;
  }
  &__title {
    margin-top: 0;
    font-size: 2rem;
    color: $color-orange-light;
  }
  p {
    margin-bottom: 0;
  }
}
