.u-margin-left-small {
  margin-left: 2rem !important;
}
.u-margin-left-medium {
  margin-left: 5rem !important;
}

.u-margin-left-large {
  margin-left: 10rem !important;
}

.u-margin-right-small {
  margin-right: 1rem !important;
}
.u-margin-right-medium {
  margin-right: 5rem !important;
}

.u-margin-right-large {
  margin-right: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}
.u-margin-top-medium {
  margin-top: 5rem !important;
}

.u-margin-top-large {
  margin-top: 10rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 3rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 10rem !important;
}

.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: $color-grey-light;
}

.u-width-100 {
  width: calc(100%) !important;
}

.u-text-center {
  text-align: center;
}
