$color-grey-light: #d0d0d0;
$color-grey-light-2: #dddddd;
$color-grey-dark: #959595;
$color-grey-dark-2: #b2b2b2;
$color-grey-dark-3: #e1e9f1;

$color-black-dark: #222222;

$color-blue: #005b7f;
$color-blue-2: #2c7593;
$color-blue-light: #e5eef6;
$color-blue-light-2: #eff5fa;
$color-blue-light-3: #1a6c8c;
$color-blue-light-4: #80adbf;
$color-blue-light-5: #e6edf4;

$color-orange-light: #ff866b;
$color-yellow: #fff3f0;
